@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveInBtm {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes upNdown {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(0); } }

*::after,
*::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden !important; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif; }

.text-area {
  text-align: center; }

link:link,
link:visited {
  text-decoration: none; }

.nav {
  font-size: 1.8rem;
  letter-spacing: 0.1rem; }
  .nav__links:link, .nav__links:visited {
    color: #7ed56f;
    text-decoration: none;
    transition: all 0.3s; }
  .nav__logo:link, .nav__logo:visited {
    color: #55c57a;
    text-decoration: none;
    font-size: 3.2rem; }
  .nav__logo--underline {
    font-weight: 900; }

.heading-primary {
  font-size: 7.2rem;
  letter-spacing: 1rem;
  color: #fff;
  line-height: inherit; }
  .heading-primary--main {
    display: block;
    letter-spacing: 5rem;
    font-weight: 300;
    animation: moveInLeft 0.6s forwards ease-out;
    backface-visibility: hidden; }
    .heading-primary--main--1 {
      font-weight: 500; }
  .heading-primary--sub {
    margin-top: 2rem;
    display: block;
    letter-spacing: 1.2rem;
    font-weight: 400;
    padding-right: 3rem;
    animation: moveInRight 0.6s forwards ease-out;
    font-size: 2.8rem; }

.user-review {
  font-size: 1.6rem;
  color: #f7f7f7;
  animation: opacity 1s forwards ease-out; }
  .user-review__para {
    display: inline-block; }

.review {
  animation: opacity 1s forwards ease-in; }
  .review__stars {
    color: #f7f7f7;
    font-size: 1.2rem;
    font-weight: 600;
    font-size: 1.6rem; }

.heading-secondary {
  font-size: 6.4rem;
  text-align: center;
  color: #55c57a;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1rem;
  transition: all 0.3s; }
  .heading-secondary:hover {
    transform: skewY(2deg);
    text-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
  color: #333;
  line-height: 2.2rem;
  letter-spacing: .2rem; }

.card-component__para {
  font-size: 1.6rem;
  color: #777;
  text-align: justify;
  padding: .5rem 1rem; }

.margin-top-large {
  margin-top: 14rem; }

.margin-top-mid {
  margin-top: 8rem; }

.margin-top-small {
  margin-top: 3rem; }

.padding-top-large {
  margin-top: 14rem; }

.padding-top-mid {
  margin-top: 8rem; }

.padding-top-small {
  margin-top: 3rem; }

.btn-component__cta:link, .btn-component__cta:visited {
  color: #ffa33a;
  text-decoration: none;
  font-size: 2rem;
  display: inline-block !important;
  border: #ffa33a 2px solid;
  padding: 2rem 5rem;
  border-radius: 5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  animation: moveInBtm 0.6s forwards ease-out;
  display: inline-block;
  transition: all 0.3s; }

.btn-component__cta:hover {
  background-color: #ffa33a;
  color: #fff;
  font-weight: 500;
  transform: translateY(-0.5rem);
  box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.8); }

.btn-cta:link, .btn-cta:visited {
  border: #ffa33a 2px solid;
  color: #ffa33a;
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block !important;
  border: #ffa33a 2px solid;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #ffa33a;
  transition: all 0.3s !important; }

.btn-cta:hover {
  background-color: #ffa33a;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 1rem 1rem black; }

#animate {
  width: fit-content;
  margin: 6rem auto 0 auto;
  transition: all .3s; }
  #animate:hover {
    transform: translateY(-1rem); }
  #animate:active {
    transform: translateY(-0.5rem); }

.card-component {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
  text-align: center; }
  .card-component__cards {
    width: 25rem;
    background-color: #fff;
    height: 30rem;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    transition: all .3s; }
    .card-component__cards:hover {
      transform: translateY(-1rem);
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); }
  .card-component__icon {
    display: block;
    text-align: center;
    font-size: 7rem;
    color: #28b485;
    font-weight: 300; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 1.5rem 5rem; }
  .nav__child--2 {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center; }
  .nav__child__link {
    list-style-type: none;
    position: relative; }
    .nav__child__link--animate::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: -1rem;
      left: 0;
      opacity: 0;
      width: 0;
      height: 2.1px;
      background-color: #7ed56f;
      transition: all 0.4s; }
    .nav__child__link--animate:hover {
      font-weight: 600; }
      .nav__child__link--animate:hover::after {
        opacity: 1;
        width: 100%; }

.logo {
  height: 5rem; }

.header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/hero1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

.section-how {
  height: 100vh;
  background-color: #eee;
  overflow: hidden; }
