.header {
  @include mainPage("../images/hero1.webp", 0.7);
}

.section-how {
  background-color: $color-grey-light-2;
  padding: 1rem 2rem 3rem 2rem;
  padding-bottom: 14rem;
}

.section-testimonials {
  height: 160rem;
  background-color: $color-grey-light-2;
  border-top: 1px solid $color-grey-dark;
  padding-bottom: 10rem;
}

.section-visions {
  height: 133rem;
  position: relative;
  padding-bottom: 4rem;
}

.header-about {
  @include mainPage("../images/hero-alt.webp", 0.6);
}
.header-articles {
  @include mainPage("../images/articles/hero.jpg", 0.6);
}

.section-story {
  height: 100%;
  padding-bottom: 10rem;
}

.section-about {
  height: 100vh;
  display: flex;
  padding: 5rem 10rem;
  gap: 6rem;
  background-color: $color-grey-light-2;
  // margin-bottom: 3rem;
}

.section-team {
  padding-bottom: 7.2rem;
}

.contact-main {
  @include mainPage("../images/contact.jpg", 0.7);
}
