.article-page {
  padding: 10rem 5rem;
  height: 100%;
  background-color: $color-grey-light-2;
  position: relative;
  

  &__head {
    background-color: $color-white;
    padding: 3rem;
    border-radius: 5px;
  }

  &__heading {
    font-size: 6.4rem;
    line-height: 1.2;
    font-weight: 600;
  }

  &__details {
    padding: 3rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__author {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
  }
  &__date {
    padding: 0.5rem 0.5rem 1rem;
    display: block;
    font-weight: 500;
    font-size: 1.2rem;
  }
  &__share {
    height: 2rem;
    display: flex;
    gap: 2rem;
  }

  &__icon {
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__content {
    background-color: $color-white;
  }
  &__img {
    width: 100%;
    height: 30rem;
    display: inline;
  }
  &__text {
    padding: 5rem 0 5rem 8rem;
    font-size: 1.6rem;
    line-height: 1.9;
    width: 230%;
  }

  &__img-content {
    width: 100%;
    height: 50rem;
    object-fit: cover;
  }
  &__item {
    display: flex;
    align-items: top;
    gap: 10rem;
  }
}

.article-page-body {
  position: relative;
}

.scroll-watcher {
  top: 0;
  position: fixed;
  height: .7rem;
  background-color: $color-primary-dark;
  width: 100%;
  z-index: 10000;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll(y)
}

.aside {
  margin-top: 6rem;
  width: 100%;
  border-left: 1px solid $color-grey-dark;
  padding: 1rem 2rem;
  height: 31rem;
  &__heading {
    font-size: 3.2rem;
    color: $color-grey-dark-3;
  }
  &__list {
    font-size: 2rem;
    margin: 2rem 3rem;
    color: $color-grey-dark-3;
    line-height: 3rem;
  }
  &__item {
    list-style-type: decimal;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      margin-top: 1rem;
      font-size: 1.6rem;
      text-decoration: none;
      border: 1px solid$color-primary-dark;
      border-radius: 1rem;
      padding: 1rem 3rem;
      color: $color-grey-dark-3;
      transition: all 0.3s;
      font-weight: 500;
    }

    &:hover {
      background-color: $color-primary-dark;
      color: $color-white;
    }
  }
}
