.animate-infinite {
  // animation: upNdown 3s backwards 1s infinite;
}

.btn-component__cta {
  &:link,
  &:visited {
    @include cta-btn(2rem, 2rem, 5rem);
    animation: moveInBtm 0.6s forwards ease-out;
    display: inline-block;
    transition: all 0.3s;
  }

  &:hover {
    background-color: $color-button;
    color: $color-white;
    font-weight: 500;
    transform: translateY(-0.5rem);
    box-shadow: 0 1.5rem 5rem rgba($color-black, 0.8);
  }
}

.btn-cta {
  &:link,
  &:visited {
    border: $color-button 2px solid;
    @include cta-btn(1.6rem, 1rem, 2rem);
    color: $color-button;
    transition: all 0.3s !important;
  }

  &:hover {
    background-color: $color-button;
    color: $color-white;
    font-weight: 600;
    box-shadow: 0 1rem 1rem rgba($color-black, 1);
  }
}
#animate {
  width: fit-content;
  margin: 6rem auto 0 auto;
  transition: all .3s;
  &:hover {
  
    transform: translateY(-1rem);
  }

  &:active {
    transform: translateY(-.5rem);
  }

}

