.card-component {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 55rem;
  gap: 5rem;
  text-align: center;
  background-image: linear-gradient(
      rgba($color-black, 0.6),
      rgba($color-black, 0.6)
    ),
    url("../images/section-key.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  transition: all 2s;

  &__cards {
    width: 25rem;
    background-color: rgba($color-white, 0.9);
    height: 30rem;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 2.5rem rgba($color-black, 0.1);
    padding: 2rem 1rem;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-1rem);
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
      cursor: default;
    }
  }

  &__icon {
    display: block;
    text-align: center;
    font-size: 7rem;
    color: $color-primary-dark;
    font-weight: 300;
  }
}
