.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 2rem;
  gap: 10rem;

  &__text {
    display: grid;
    width: 55%;
    grid-template-columns: 1fr 1fr;
    padding-left: 8rem;
    row-gap: 4.8rem;
    column-gap: 8rem;
  }

  &__images {
    width: 45%;
  }
}

.review {
  &__img {
    border-radius: 100%;
    height: 6.5rem;
  }

  &__text {
    color: #555;
    font-size: 1.6rem;
    padding-top: 1.2rem;
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }
}
