@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }

  80% {
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }

  80% {
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveInBtm {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes upNdown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
  }
}

.hideY {
  transform: translateY(30%);
  opacity: 0.2;
}

.hideX {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(10px);
}

.showX {
  transform: translateX(0%);
  opacity: 1;
  transition: all 0.5s !important;
}

.showY .card-component {
  transform: translateY(0%);
  opacity: 1;
}

.showX:nth-child(1) {
  transition-delay: 0.2s !important;
}
.showX:nth-child(2) {
  transition-delay: 0.4s !important;
}

.showX:nth-child(3) {
  transition-delay: 0.6s !important;
}

.showX:nth-child(4) {
  transition-delay: 0.8s !important;
}

.hideX1 {
  transform: translateX(-80%);
  opacity: 0;

  &:nth-child(2) {
    transform: translateX(80%);
  }
}

.showX1 {
  transition: all 1s 1s !important;
  transform: translateX(0);
  opacity: 1;
  &:nth-child(2) {
    transition: all 1s 1s !important;
    transition-delay: 0.4s;
    transform: translateX(0);
  }
}
