html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.text-area {
  text-align: center;
}

link:link,
link:visited {
  text-decoration: none;
}

.nav {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;

  &__links:link,
  &__links:visited {
    color: $color-primary-light;
    text-decoration: none;
    transition: all 0.3s;
  }

  &__logo {
    &:link,
    &:visited {
      color: $color-primary;
      text-decoration: none;
      font-size: 3.2rem;
    }

    &--underline {
      // border-bottom: 2px solid $color-primary;
      font-weight: 900;
    }
  }
}

.heading-primary {
  font-size: 7.2rem;
  letter-spacing: 1rem;
  color: $color-heading-primary;
  line-height: inherit;

  &__about {
    font-size: 4.8rem;
  }

  &--main {
    display: block;
    letter-spacing: 5rem;
    font-weight: 300;
    animation: moveInLeft 0.6s forwards ease-out;
    backface-visibility: hidden;
    &--1 {
      font-weight: 500;
    }

    &--about {
      letter-spacing: 0.5rem;
    }

    &--articles {
      letter-spacing: 1.5rem;
    }
  }

  &--sub {
    margin-top: 2rem;
    display: block;
    letter-spacing: 1.2rem;
    font-weight: 400;
    padding-right: 3rem;
    animation: moveInRight 0.6s forwards ease-out;
    font-size: 2.8rem;
  }
}

.user-review {
  font-size: 1.6rem;
  color: $color-para;
  animation: opacity 1s forwards ease-out;

  &__para {
    display: inline-block;
  }
}

.review {
  animation: opacity 1s forwards ease-in;
  &__stars {
    color: $color-para;
    font-size: 1.2rem;
    font-weight: 600;
    font-size: 1.6rem;
  }
}

.heading-secondary {
  // display: block;
  font-size: 6.4rem;
  text-align: center;
  color: $color-primary;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1rem;
  transition: all 0.3s !important;
  opacity: 0;
  transform: scale(0);
  animation: fade linear forwards;
  animation-timeline: view(30rem 1.5rem);

  &:hover {
    text-shadow: 0rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 500;
  color: $color-grey-dark-3;
  line-height: 2.2rem;
  letter-spacing: 0.2rem;
}

.card-component__para {
  font-size: 1.6rem;
  color: $color-grey-dark-3;
  text-align: justify;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
}
