.margin-top-large {
  margin-top: 14rem;
}

.margin-top-mid {
  margin-top: 8rem;
}

.margin-top-small {
  margin-top: 3rem;
}

.padding-top-large {
  margin-top: 14rem;
}

.padding-top-mid {
  margin-top: 8rem;
}

.padding-top-small {
  margin-top: 3rem;
}
