@mixin cta-btn($font-size, $paddingX, $paddingY) {
  color: #ffa33a;
  text-decoration: none;
  font-size: $font-size;
  display: inline-block !important;
  border: #ffa33a 2px solid;
  padding: $paddingX $paddingY;
  border-radius: 5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

@mixin mainPage($bg-img, $darkness) {
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, $darkness),
      rgba($color-black, $darkness)
    ),
    url($bg-img);

  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
