// Primary Color: #2ecc71 (a fresh green) symbolizing nature and sustainability.
// Secondary Color: #ffffff (pure white) for backgrounds and text to maintain readability.
// Accent Color: #3498db (a soothing blue) for buttons and highlights, representing trust and tranquility.
// Neutral Color: #34495e (a muted gray-blue) for borders and section backgrounds, providing contrast.
// Highlight Color: #e74c3c (a vibrant red-orange) for important notifications or calls-to-action, attracting attention.

$color-heading-primary: #abebc6;
$color-para: #d3f9d8;

$color-primary-light: #82e0aa;
$color-primary: #2ecc71;
$color-primary-dark: #208f4f;

$color-white: #fff;
$color-black: #000;
