// Primary Color: #2ecc71 (a fresh green) symbolizing nature and sustainability.
// Secondary Color: #ffffff (pure white) for backgrounds and text to maintain readability.
// Accent Color: #3498db (a soothing blue) for buttons and highlights, representing trust and tranquility.
// Neutral Color: #34495e (a muted gray-blue) for borders and section backgrounds, providing contrast.
// Highlight Color: #e74c3c (a vibrant red-orange) for important notifications or calls-to-action, attracting attention.

$color-heading-primary: #fff;
$color-para: #f7f7f7;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary: #e74c3c;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #555;

$color-button: #ffa33a;
